body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.red {
  height: 100px;
  width: 100px;
  background-color: red;
  z-index: -1;
}
.yellow {
  height: 100px;
  width: 100px;
  background-color: yellow;
  z-index: -1;
}
.green {
  height: 100px;
  width: 100px;
  background-color: green;
  z-index: -1;
}
.blue {
  height: 100px;
  width: 100px;
  background-color: blue;
  z-index: -1;
}

.container {
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.container img {
  position: relative;
  height: 60px;
  width: 60px;
  top: 20px;
  left: 20px;
}

.main {
  display: flex;
  justify-content: space-evenly
}

#player-action {
  display: flex;
  flex-direction: column;
}

button {
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px
}

#roll {
  font-size: 50px;
}

#piece {
  border-radius: 50px;
  font-size: 20px;
}

#piece-action-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.piece-action {
  display: flex;
  flex-direction: column;
}

#pass {
  margin-top: 50px;
  font-size: 20px;
}